@model IEnumerable<Proyectofloresapi.Models.FloresViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Css/tabla.css" rel="stylesheet" type="text/css">

<h2>Catalogo de Flores</h2>


    <table class="table">
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relleno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paqueteagranel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longituddeltallo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Talloracimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr class="bg-success">
        <th>
            @Html.DisplayFor(modelItem => item.Id)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Nombre)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relleno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paqueteagranel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longituddeltallo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Talloracimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
        </td>
    </tr>
        }

    </table>



<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">1 Flor Hielo azul </th>
            <th scope="col">2 Flor laguna azul mágica </th>
            <th scope="col">3 Flor bola verde </th>
            <th scope="col">8 Flor gato negro </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="~/Img/Flor Hielo azul 1.jpg" width="120" height="120" class="d-inline-block align-top" alt=""></td>
            <td><img src="~/Img/Flor laguna azul mágica 2.jpg" width="120" height="120" class="d-inline-block align-top" alt=""></td>
            <td><img src="~/Img/Flor bola verde 3.jpg" width="120" height="120" class="d-inline-block align-top" alt=""></td>
            <td><img src="~/Img/Solomio-Sem.jpg" width="120" height="120" class="d-inline-block align-top" alt=""></td>
        </tr>
        <tr>
            <th scope="col">12 Solomio-Sem </th>
            <th scope="col">17 Flor Cuarteto azul </th>
            <th scope="col">19 Flor Gustav </th>
            <th scope="col">20 Flor Paladov soleado</th>
        </tr>
        <tr>
            <td><img src="~/Img/Flor Cuarteto azul 13.jpg" width="120" height="120" class="d-inline-block align-top" alt=""></td>
            <td><img src="~/Img/Flor Gustav 15.jpg" width="120" height="120" class="d-inline-block align-top" alt=""></td>
            <td><img src="~/Img/Flor Paladov soleado .jpg" width="120" height="120" class="d-inline-block align-top" alt=""></td>
            <td><img src="~/Img/Flor gato negro.jpg" width="120" height="120" class="d-inline-block align-top" alt=""></td>
        </tr>
    </tbody>
</table>


