@{
    ViewBag.Title = Recursos.Recurso.Analisis_titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row table-bordered">
    <div class="col-md-12">

        <div class="col-md-2 table-bordered">
            <label>@Recursos.Recurso.Analisis_linferior</label>
            <br />
            @foreach (double linf in ViewBag.linf)
            {

                @linf
                <br />
            }
        </div>

        <div class="col-md-2 table-bordered">
            <label>@Recursos.Recurso.Analisis_lsuperior</label>
            <br />
            @foreach (double lsup in ViewBag.lsup)
            {

                @lsup
                <br />
            }
        </div>

        <div class="col-md-2 table-bordered">
            <label>@Recursos.Recurso.Analisis_mclase</label>
            <br />
            @foreach (double marcaclase in ViewBag.marca_clase)
            {
                @marcaclase
                <br />
            }
        </div>


        <div class="col-md-2 table-bordered">
            <label>@Recursos.Recurso.Analisis_fabsoluta</label>
            <br />
            @foreach (double fabsol in ViewBag.fabsoluta)
            {
                @fabsol
                <br />
            }
        </div>

        <div class="col-md-2 table-bordered">
            <label>Frecuencia relativa</label>
            <br />
            @foreach (double frela in ViewBag.frelativa)
            {
                @frela
                <br />
            }
        </div>

        <div class="col-md-2 table-bordered">
            @*Marca de clase * Frecuencia absoluta*@
            <label>Xi * Fi</label>
            <br />
            @foreach (double xf in ViewBag.xf)
            {
                @xf
                <br />
            }
        </div>

    </div>

    <div class="col-md-12">

        <div class="col-md-2">

        </div>

        <div class="col-md-2 table-bordered">
            <label>@Recursos.Recurso.Analisis_media</label>
            <br />
            <label>@ViewBag.media</label>
        </div>

        <div class="col-md-2 table-bordered">
            <label>@Recursos.Recurso.Analisis_mediana</label>
            <br />
            <label>@ViewBag.mediana</label>
        </div>
        
    </div>

    <br /> 
</div>

<div class="row table-bordered">
    <div class="col-md-12">

        <div class="col-md-2 table-bordered">
            <label>@Recursos.Recurso.Analisis_proflores</label>
            <br />
            @foreach (int proplantas in ViewBag.producplantas)
            {

                @proplantas
                <br />
            }
        </div>

        <div class="col-md-2 table-bordered">
            <label>@Recursos.Recurso.Analisis_ncamas</label>
            <br />
            @foreach (int ncamas in ViewBag.ncamas)
            {

                @ncamas
                <br />
            }
        </div>

        <div class="col-md-2 table-bordered">
            <label>@Recursos.Recurso.Analisis_facumulada</label>
            <br />
            @foreach (double facumcamas in ViewBag.facumcamas)
            {

                @facumcamas
                <br />
            }
        </div>

        <div class="col-md-2 table-bordered">
            <label>frecuencia acumulada</label>
            <br />
            @foreach (double medifrecuen in ViewBag.medifrec)
            {

                @medifrecuen
                <br />
            }
        </div>

        <div class="col-md-2 table-bordered">
            <label>@Recursos.Recurso.Analisis_Eabsoluto</label>
            <br />
            @foreach (double cal_ea in ViewBag.cal_ea)
            {

                @cal_ea
                <br />
            }
        </div>


    </div>

</div>