@{
    ViewBag.Title = "Operación no autorizada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @Recursos.Recurso.Error_permiso
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-red">Error</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i>@Recursos.Recurso.Error_autorizacion</h3>
            @if (ViewBag.operacion != "")
            {
                <p>@Recursos.Recurso.Error_operacion @ViewBag.operacion </p>
            }
            @if (ViewBag.modulo != "")
            {
                <p>@Recursos.Recurso.Error_modulo @ViewBag.modulo</p>
            }
            @if (ViewBag.msjeErrorExcepcion != "")
            {
                <p>@ViewBag.msjeErrorExcepcion</p>
            }
        </div>
    </div>
    <!-- /.error-page -->
</section>