@model Proyectofloresapi.Models.ViewModelInvernadero.InvernaderoViewModel
@{
    ViewBag.Title = Recursos.Recurso.invernadero_ingreso;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@ViewBag.Title</h2>

<script>
    function ValidateNumber(e) {
        var evt = (e) ? e : window.event;
        var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    };

</script>

@*NuevoInvernadero nombre metodo *@
@*Invernadero nombre del controlador *@
@using (Html.BeginForm("NuevoInvernadero", "Invernadero", FormMethod.Post))
{
    <div class="col-md-12">
        <div class="col-md-6">
            <b>@Html.LabelFor(d => d.Numeroinvernadero)</b>
            @Html.TextBoxFor(d => d.Numeroinvernadero, new { onkeydown = "return ValidateNumber(event);", @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Numeroinvernadero, null, new { @class = "red" })
        </div>
        @if (ViewBag.fincaList != null)
        {
            <div class="col-md-6">
                <b>@Html.LabelFor(d => d.Idfinca)</b>
                @Html.DropDownListFor(d => d.Idfinca, ViewBag.fincaList as SelectList, Recursos.Recurso.Invernadero_seleccionable, new { @class = "form-control" })
                <br />
            </div>
        }

    </div>

    <div style="text-align:right">
        <input value="@Recursos.Recurso.boton_guardar" class="btn btn-primary" type="submit" />
    </div>
}