@model List<Proyectofloresapi.Models.ViewModelsFinca.ListFincaViewModel>
@{
                /**/

                /**/

                ViewBag.Title = "Lista de Fincas";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row" style="text-align: right; padding:5px;">
    <a href="~/finca/NuevaFinca" class="btn btn-primary">@Recursos.Recurso.boton_nuevo</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>@Recursos.Recurso.Finca_Lista_Id</th>
                <th>@Recursos.Recurso.Finca_Lista_nombre</th>
                <th>@Recursos.Recurso.Finca_Lista_region</th>
                <th>@Recursos.Recurso.Finca_Lista_ciudad</th>
                <th></th>
            </tr>
            @foreach (var oElemento in Model)
             {
                <tr>
                    <td>@oElemento.Idfinca</td>
                    <td>@oElemento.Nombrefinca</td>
                    <td>@oElemento.Iddepartamento_</td>
                    <td>@oElemento.Idmunicipio</td>
                    <td>
                        <a class="btn btn-primary" href="~/finca/EditarFinca/@oElemento.Idfinca">@Recursos.Recurso.boton_editar</a>
                        <a class="btn btn-danger" href="~/finca/EliminarFinca/@oElemento.Idfinca">@Recursos.Recurso.boton_eliminar</a>
                    </td>
                </tr>

             }
        </table>
    </div>
</div>
