@model Proyectoflores.Models.ViewModelUsuario.UsuarioViewModel
@{
    ViewBag.Title = "Editar un Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@*NuevoUsuario nombre metodo *@
@*Invernadero nombre del controlador *@
@using (Html.BeginForm("EditarUsuario", "Usuario", FormMethod.Post))
{

    @Html.HiddenFor(d => d.Cedula)

    <div class="container">
        <div class="col-md-12">
            <div class="col-md-6">
                <b>@Html.LabelFor(d => d.Cedula)</b>
                @Html.TextBoxFor(d => d.Cedula, new { onkeydown = "return ValidateNumber(event);", @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Cedula, null, new { @class = "red" })
            </div>
            <div class="col-md-6">
                <b>@Html.LabelFor(d => d.Password)</b>
                @Html.TextBoxFor(d => d.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Password, null, new { @class = "red" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <b>@Html.LabelFor(d => d.Nombres)</b>
                @Html.TextBoxFor(d => d.Nombres, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombres, null, new { @class = "red" })
            </div>
            <div class="col-md-6">
                <b>@Html.LabelFor(d => d.Apellidos)</b>
                @Html.TextBoxFor(d => d.Apellidos, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Apellidos, null, new { @class = "red" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <b>@Html.LabelFor(d => d.Idrol)</b>
                @Html.DropDownListFor(d => d.Idrol, ViewBag.rolList as SelectList, Recursos.Recurso.Seleccionable_rol, new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                <b>@Html.LabelFor(d => d.Idfinca)</b>
                @Html.DropDownListFor(d => d.Idfinca, ViewBag.fincaList as SelectList, Recursos.Recurso.Invernadero_seleccionable, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-10">
            <b>@Html.LabelFor(d => d.Email)</b>
            @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Email, null, new { @class = "red" })
        </div>
        <br />
    </div>

    <div style="text-align:right">
        <input value="Guardar" class="btn btn-primary" type="submit" />
    </div>
}
