@model Proyectofloresapi.Models.ViewModelUsuario.UsuarioViewModel
@{
    ViewBag.Title = Recursos.Recurso.Usuarios_newregis;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<script>
    function ValidateNumber(e) {
        var evt = (e) ? e : window.event;
        var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    };

</script>

@*NuevoUsuario nombre metodo *@
@*Invernadero nombre del controlador *@
<form action="@Url.Content("~/Usuario/NuevoUsuario")" method="post">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-6">
                <b>@Html.LabelFor(d => d.Cedula)</b>
                @Html.TextBoxFor(d => d.Cedula, new { onkeydown = "return ValidateNumber(event);", @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Cedula, null, new { @class = "red" })
            </div>
            <div class="col-md-6">
                <b>@Html.LabelFor(d => d.Email)</b>
                @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Email, null, new { @class = "red" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <b>@Html.LabelFor(d => d.Nombres)</b>
                @Html.TextBoxFor(d => d.Nombres, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombres, null, new { @class = "red" })
            </div>
            <div class="col-md-6">
                <b>@Html.LabelFor(d => d.Apellidos)</b>
                @Html.TextBoxFor(d => d.Apellidos, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Apellidos, null, new { @class = "red" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                    <b>@Html.LabelFor(d => d.Idrol)</b>
                    @Html.DropDownListFor(d => d.Idrol, ViewBag.rolList as SelectList, Recursos.Recurso.Seleccionable_rol, new { @class = "form-control" })
                </div>
            <div class="col-md-6">
                
            </div>
        </div>

        <br />
    </div>

    <div style="text-align:right">
        <input value="@Recursos.Recurso.boton_guardar" class="btn btn-primary" type="submit" />
    </div>
</form>

    
